@mixin navbar-colors($color, $link-color) {
    color: #4caf50;
    background-color: #4caf50 !important;
    @include shadow-navbar-color(#4caf50);

    .dropdown-item:hover,
    .dropdown-item:focus{
      @include shadow-small-color(#4caf50);
      background-color: #4caf50;
      color: #4caf50;
    }

    .navbar-toggler{
        .navbar-toggler-icon{
            background-color: #4caf50;
        }
    }
}
