<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Pacientes</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                               <button routerLink='/adicionar-paciente' mat-raised-button>Adicionar Paciente</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        CPF
                                    </th>
                                    <th>
                                        E-mail
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        CEP
                                    </th>
                                    <th>
                                        Rua
                                  </th>
                                  <th>
                                        Número
                                  </th> 
                                  <th>
                                        Status
                                  </th>
                                  <th>
                                        Ações
                                  </th>
                                  <th>
                                        Editar/Remover
                                  </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                          Álex
                                        </td>
                                        <td>
                                          114.457.987.25
                                        </td>
                                        <td>
                                          alex@visitante.com.br
                                        </td>
                                        <td>
                                          41997965596
                                        </td>
                                        <td class="">
                                            87478-451
                                       </td>
                                       <td>
                                          Sete de Setembro
                                        </td>
                                        <td>
                                          1115
                                        </td>
                                        <td>
                                          Ativo
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Juarez
                                        </td>
                                        <td>
                                          673.951.384.78
                                        </td>
                                        <td>
                                          juarez@visitante.com.br
                                        </td>
                                        <td>
                                          41997437854
                                        </td>
                                        <td class="">
                                            87022-333
                                        </td>
                                        <td>
                                          Matheus Leme
                                        </td>
                                        <td>
                                          72
                                        </td>
                                        <td>
                                          Ativo
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Guilherme
                                        </td>
                                        <td>
                                            Radiologia
                                        </td>
                                        <td>
                                          guilherme@visitante.com.br
                                        </td>
                                        <td>
                                          41994578977
                                        </td>
                                        <td class="">
                                            809457-366
                                        </td>
                                        <td>
                                          São Lourenço
                                        </td>
                                        <td>
                                          22
                                        </td>
                                        <td>
                                          Inativo
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Paulo
                                        </td>
                                        <td>
                                          Radiologia
                                        </td>
                                        <td>
                                          paulo@visitante.com.br
                                        </td>
                                        <td>
                                          41984478923
                                        </td>
                                        <td class="">
                                            807258-788
                                        </td>
                                        <td>
                                          João Negrão
                                        </td>
                                        <td>
                                          741
                                        </td>
                                        <td>
                                          Inativo
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  