<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Consultas</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                               <button routerLink='/adicionar-consulta' mat-raised-button>Adicionar Consulta</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="">
                                    <th>
                                        Paciente
                                    </th>
                                    <th>
                                        Especialidade
                                    </th>
                                    <th>
                                        Médico
                                    </th>
                                    <th>
                                        Data do Agendamento
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Data do Cadastro
                                  </th>
                                  <th>
                                        Código do Plano
                                  </th> 
                                  <th>
                                        Ações
                                  </th>
                                  <th>
                                        Editar/Remover
                                  </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                          Álex
                                        </td>
                                        <td>
                                            Radiologia
                                        </td>
                                        <td>
                                            Dr. Angelo
                                        </td>
                                        <td>
                                          14/09/2020 11:45:33
                                        </td>
                                        <td>
                                            Confirmado
                                       </td>
                                       <td>
                                          08/09/2020
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Juarez
                                        </td>
                                        <td>
                                            Hematologia
                                        </td>
                                        <td>
                                            Dr.Guilherme Camargo	
                                        </td>
                                        <td>
                                          31/08/2020 10:15:02
                                        </td>
                                        <td>
                                            Aguardando Confirmação
                                        </td>
                                        <td>
                                          20/08/2020
                                        </td>
                                        <td>
                                          87184151477
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Guilherme
                                        </td>
                                        <td>
                                            Neurologia
                                        </td>
                                        <td>
                                            Dr.Guilherme Olivetti Guarneri	
                                        </td>
                                        <td>
                                          05/09/2020 08:22:33
                                        </td>
                                        <td>
                                            Aguardando Pagamento
                                        </td>
                                        <td>
                                          27/08/2020
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          Paulo
                                        </td>
                                        <td>
                                          Radiologia
                                        </td>
                                        <td>
                                            Dr.João Paulo Michaelis Ribeiro	
                                        </td>
                                        <td>
                                          12/08/2020 19:45:30
                                        </td>
                                        <td>
                                            Cancelado
                                        </td>
                                        <td>
                                          30/07/2020
                                        </td>
                                        <td>
                                          7894213687
                                        </td>
                                        <td>
                                            <i class="material-icons">message</i>
                                            <i class="material-icons">phone</i>
                                        </td>
                                        <td>
                                          <i class="material-icons">edit</i>
                                          <i class="material-icons">delete</i>
                                        </td>
                                    </tr>
  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  